.productItem {
  color: black;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.prductTitle,
.productPrice {
  font-weight: bolder;
}

.productPrice {
  color: #d8127d;
}

.productItemNav {
  position: absolute;
  left: 20px;
  right: 20px;
  z-index: 2;
  font-size: 12px;
  display: none;
}

.productItem:hover .productItemNav {
  font-size: 2em;
  background-color: transparent;
  color: black;
  display: flex;
  /* transform: translateY(-70px); */
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 50px;
  transition: all s;
}

.addToCartBtn {
  width: 83%;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background-color: #f0ecec;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-weight: 700;
  padding: 1em 0;
  text-transform: uppercase;
}

.addToCartBtn:hover {
  background-color: #333;
  color: white;
}

.favButCont {
  border: none;
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
}

.favBut:hover {
  color: #d8127d;
}

.product_info {
  display: flex;
  justify-content: space-between;
}

.product_img {
  /* maxWidth: '100%',
    maxHeight: '100%',
    objectFit: 'cover',
    borderRadius: '10px', */
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
