.basket {
  width: 1127px;
  margin: auto;
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif !important;
  color: #333;
}

h1 {
  text-align: center;
  padding: 20px;
}

.item {
  margin-top: 20px;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 700px;
  margin: auto;
  padding: 34px 0;
  border-bottom: 1px solid rgb(241, 241, 241);
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  text-align: end;
}

.item_img {
  width: 80px;
  height: 120px;
  margin-right: 10px;
}

.price_cont {
  color: #d8127d;
  font-size: 19px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.price {
  margin-right: 10px;
}

.promocode,
.order_info {
  max-width: 700px;
  margin-top: 20px;
  font-size: 16px;
  max-width: 700px;

  margin: auto;
  padding: 34px 0;
  border-bottom: 1px solid rgb(241, 241, 241);
}

.promo_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.promo_cont input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  box-shadow: none;
}

.apply {
  height: 40px;
  padding: 11px 21px;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 0 0.28571429rem 0.28571429rem 0;
  border-top-right-radius: 0.285714rem;
  border-bottom-right-radius: 0.285714rem;
}

.info_cont {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  font-weight: 700;
}

.info_cont_left {
  padding-right: 1rem;
  width: 30%;
}

.actions {
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 10px;
  padding: 12px 24px;
}

.action_btn {
  font-size: 1.14285714rem;
  padding: 10px 20px;
  border: none;
  border-radius: 0.28571429rem;
  color: white;
  font-weight: 600;
  max-width: 300px;
  width: 100%;
  margin: 0;
}
