* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bestsellers {
  text-align: center;
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif !important;
  color: rgba(0, 0, 0, 0.87);
  font-size: 28px;
}

.middle_panel {
  max-width: 1127px;
  text-align: center;
}

body {
  overflow-y: hidden;
}
