.productItem {
  color: black;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.productItem > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.prductTitle,
.productPrice {
  font-weight: bolder;
}

.productPrice {
  color: #d8127d;
}

.productItemNav {
  position: absolute;
  left: 20px;
  right: 20px;
  z-index: 2;
  font-size: 12px;
  display: none;
}

.productItem:hover .productItemNav {
  font-size: 1em;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 50px;
}

.productItemButton {
  width: 80%;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  background-color: #f0ecec;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  padding: 1em 0;
  text-transform: uppercase;
}

.productItemButton:hover {
  background-color: #333;
  color: white;
}

.productItemFavBut {
  color: rgb(243, 243, 243);
  width: 35px;
  height: 35px;
  z-index: 2;
  border-radius: 100%;
  box-shadow: 0 0 3px 0 rgb(0 0 0 / 14%);
  border: none;
  display: inline-block;
}

.productItemFavBut:hover {
  color: #d8127d;
}

.product_info {
  display: flex;
  justify-content: space-between;
}

.productItemFavButRem {
  color: #d8127d;
}
