.second_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 10px;
  font-family: Lato, Arial, Helvetica Neue, Helvetica, sans-serif !important;
  font-weight: 400;
  border-bottom: 2px solid rgba(34, 36, 38, 0.15);
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  padding-right: auto;
}

.left_el {
  padding: 14px 19px;
  cursor: pointer;
  font-size: 15.5px;
}
