.product_item {
  display: grid;
  grid-template-columns: 180px 560px auto;
  gap: 20px;
  margin: 20px;
  padding: 14px;
}

.colors {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.color {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border: 3px solid #b3226a;
  border-radius: 5px;
  background-color: var(--color);
}

.sizes {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.size {
  margin-right: 10px;
  width: 7%;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #928b8f;
  color: rgb(255, 255, 255);
}

.mystyle {
  opacity: 1;
}

.price {
  color: #d8127d;
  font-size: 19px;
  /* width: 100%; */
  overflow: hidden;
  text-align: right;
  font-weight: 700;
  text-align: start;
  /* margin-bottom: 10px; */
}

.description {
  font-size: 40px;
  margin-bottom: 20px;
}

.option_name {
  margin-right: 12px;
  font-size: 20px;
  padding: 8px 0;
}

.logo {
  margin-left: 3px;
  height: 14px;
  width: 14px;
}

.total_price {
  display: flex;
  align-items: center;
}

.quantity_icon {
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  margin: 20px 0;
  border-radius: 10px;
  margin: 30px auto 0 auto;
  padding: 2px;
}

.action_btn {
  padding: 10px 20px;
  border: none;
  width: 50%; 
  border-radius: 0.28571429rem;
  color: white;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  background-color: #d8127d;
  margin-top: 20px;
}

.actions_cont {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
